<mat-card>
  <mat-card-header>
    <mat-card-title
      >{{ isEditing ? "Editar" : "Cadastrar" }} Pessoa</mat-card-title
    >
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="pessoaForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nome Completo</mat-label>
        <input matInput formControlName="nome" required />
        <mat-error *ngIf="pessoaForm.get('nome')?.errors?.['required']">
          Nome é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data de Nascimento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dataNascimento"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="pessoaForm.get('dataNascimento')?.errors?.['required']"
        >
          Data de Nascimento é obrigatória
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpf" mask="000.000.000-00" required />
        <mat-error *ngIf="pessoaForm.get('cpf')?.errors?.['required']">
          CPF é obrigatório
        </mat-error>
        <mat-error *ngIf="pessoaForm.get('cpf')?.errors?.['cpfInvalido']">
          CPF inválido. Por favor, insira um CPF válido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>
        <input
          matInput
          formControlName="cep"
          mask="00000-000"
          required
          (blur)="buscarCep()"
        />
        <mat-error *ngIf="pessoaForm.get('cep')?.errors?.['required']">
          CEP é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Logradouro</mat-label>
        <input matInput formControlName="logradouro" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Número</mat-label>
        <input matInput formControlName="numero" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="complemento" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="estado" />
      </mat-form-field>

      <div class="button-row">
        <button mat-button type="button" (click)="cancelar()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">
          {{ isEditing ? "Atualizar" : "Cadastrar" }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
