/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";
// ou outro tema de sua preferência:
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '@angular/material/prebuilt-themes/purple-green.css';

.error-snackbar {
  background: #f44336;
  color: white;

  .mat-simple-snackbar-action {
    color: white;
  }
}
